body {
  background-color: black;
  font-size: 1rem;
}

button {
  width: 124px;
  height: 40px;
  padding: 8px;
  border: none;
  background-color: green;
  color: white;
  border-radius: 24px;
}

.cta:hover {
  background-color: rgb(247, 7, 7);
}

.btn:hover {
  background-color: blue;
}

.inactive:hover {
  background-color: grey;
}
.btn {
  background-color: rgb(21, 238, 21);
}
.inactive {
  background-color: rgb(106, 249, 106);
}
